<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<!-- Head Start -->
<th:block th:fragment="head">

	<head>
		<meta charset="utf-8">
		<title>GreenHouse | Thương Hiệu Làm Nên Chất Lượng</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta content="" name="keywords">
		<meta content="" name="description">
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="/client/images/la.png" />

		<!-- Google Web Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

		<!-- DataTables CSS -->
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css">

		<!-- Icon Font Stylesheet -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

		<!-- Libraries Stylesheet -->
		<link href="/admin/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
		<link href="/admin/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

		<!-- Customized Bootstrap Stylesheet -->
		<link href="/admin/css/bootstrap.min.css" rel="stylesheet">

		<!-- Template Stylesheet -->
		<link rel="stylesheet" href="/admin/css/style.css" />

		<!-- Customized Chart -->
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	</head>
</th:block>
<!-- Head End -->


<!-- Spinner Start -->
<th:block th:fragment="spiner">
	<div id="spinner"
		class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
		<div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
</th:block>
<!-- Spinner End -->

<!-- Sidebar Start -->
<th:block th:fragment="slidebar">
	<div class="sidebar pe-4 pb-3">
		<nav class="navbar bg-light navbar-light">
			<a href="/admin/index" class="navbar-brand mx-4 mb-3">
				<h3 class="text-primary">
					<i class="fa fa-hashtag me-2"></i>GREENHOUSE
				</h3>
			</a>
			<div class="d-flex align-items-center ms-4 mb-4">
				<div class="position-relative">
					<img class="rounded-circle" th:src="${'/images/'+account.image}" alt="Profile image"  style="width: 50px; height: 50px;">
					<div
						class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
					</div>
				</div>
				<div class="ms-3">
					<h6 class="mb-0" th:text="${account.fullname}"></h6>
					<span>Admin</span>
				</div>
			</div>
			<div class="navbar-nav w-100">
				<a href="/admin/index" class="nav-item nav-link"><i class="fa fa-home me-2"></i></i>Trang
					Chủ</a> <a href="/admin/user" class="nav-item nav-link"><i class="fa fa-user-circle me-2"></i>Người
					Dùng</a>

				<div class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
							class="fa fa-university me-2"></i>Danh
						Mục</a>
					<div class="dropdown-menu bg-transparent border-0">
						<a href="/admin/categories" class="dropdown-item">Thể Loại</a> <a href="/admin/products"
							class="dropdown-item">Sản Phẩm</a>
					</div>
				</div>
				<div class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
							class="fa fa-university me-2"></i>Dịch
						Vụ</a>
					<div class="dropdown-menu bg-transparent border-0">
						<a href="/admin/setDiscount/table" class="dropdown-item">Sản Phẩm Đang Giảm Giá</a>
						<a href="/admin/setDiscount" class="dropdown-item">Đặt Giảm Giá</a>
						<a href="/admin/discount" class="dropdown-item">Giảm Giá</a>

					</div>
				</div>


				<div class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
							class="fa fa-chart-bar me-2"></i>Thống
						Kê</a>
					<div class="dropdown-menu bg-transparent border-0">
							<a href="/admin/reportBill" class="dropdown-item">Thống Kê Bill</a> 
						<a href="/admin/monthlyStatistic" class="dropdown-item">Doanh
							Thu Theo Thời Gian</a> <a href="/admin/productCategoryStatistics" class="dropdown-item">Doanh Thu
							Theo
							Loại</a>

					</div>
				</div>
			</div>

		</nav>
		<div class="navbar-nav ms-3 w-100 nav-bottom">
			<!-- Dropdown menus -->
			<a href="#" class="nav-item nav-link" data-bs-toggle="modal" data-bs-target="#logoutModal"><i
					class="fa fa-sign-out-alt me-2"></i>Đăng
				Xuất</a>
		</div>
	</div>
</th:block>
<!-- Sidebar End -->




<!-- Navbar Start -->
<th:block th:fragment="navbar">
	<nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
		<a href="/admin/index" class="navbar-brand d-flex d-lg-none me-4">
			<h2 class="text-primary mb-0">
				<i class="fa fa-hashtag"></i>
			</h2>
		</a> <a href="#" class="sidebar-toggler flex-shrink-0"> <i class="fa fa-bars"></i>
		</a>

		<div class="navbar-nav align-items-center ms-auto">


			<div class="nav-item dropdown">
				<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"> <img
						class="rounded-circle me-lg-2"  th:src="${'/images/'+account.image}" alt="Profile image" style="width: 40px; height: 40px;">
					<span class="d-none d-lg-inline-flex" th:text="${account.username}"></span>
				</a>
				
			</div>
		</div>
	</nav>
</th:block>
<!-- Navbar End -->
<!-- Footer Start -->
<th:block th:fragment="footer">
	<div class="container-fluid pt-4 px-0">
		<div class="bg-light rounded-top p-4">
			<div class="row">
				<div class="col-12 col-sm-6 text-center text-sm-start">
					&copy; <a href="#">GreenHouse</a>, Tất cả các quyền.
				</div>
				<div class="col-12 col-sm-6 text-center text-sm-end">
					<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
					Thiết Kế Bởi - <a href="#">GreenHouseTeam</a>
				</div>
			</div>
		</div>
	</div>
</th:block>
<!-- Footer End -->
<!-- Modal -->
<th:block th:fragment="modalLogOut">
	<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="logoutModalLabel">ĐĂNG XUẤT</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Bạn có chắc chắn muốn đăng xuất?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
					<a href="/client/logout" class="btn btn-primary">Đăng xuất</a>
				</div>
			</div>
		</div>
	</div>
</th:block>
<!-- End Modal -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


<th:block th:fragment="script">
	<!-- JavaScript Libraries -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/admin/lib/chart/chart.min.js"></script>
	<script src="/admin/lib/easing/easing.min.js"></script>
	<script src="/admin/lib/waypoints/waypoints.min.js"></script>
	<script src="/admin/lib/owlcarousel/owl.carousel.min.js"></script>
	<script src="/admin/lib/tempusdominus/js/moment.min.js"></script>
	<script src="/admin/lib/tempusdominus/js/moment-timezone.min.js"></script>
	<script src="/admin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
	<!-- <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script> -->

	<!-- DataTables JavaScript -->
	<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>

	<!-- DataTables Buttons JavaScript -->
	<script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>

	<!-- PDFMake JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/pdfmake.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/vfs_fonts.js"></script>

	<!-- JSZip JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

	<!-- Template Javascript -->
	<script src="/admin/js/main.js" th:src="@{/admin/js/main.js}"></script>
	<script src="/admin/js/page.js" th:src="@{/admin/js/page.js}"></script>
	<!-- TABLE -->

</th:block>


</html>