<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<!-- CONTENT PAGE START-->
<th:block th:fragment="content">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content">
						<h1 class="page-name">Góc cảm hứng</h1>
						<ol class="breadcrumb">
							<li><a href="/client/index">Trang chủ</a></li>
							<li class="active">Góc cảm hứng</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="product-category section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="category-box">
						<a href="#!">
							<img src="images/blog/blog2.webp" alt="" />
						</a>
					</div>
					<div class="category-box">
						<a href="#!">
							<img src="images/blog/blog3.jpg" alt="" />
						</a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="category-box category-box-2">
						<a href="#!">
							<img src="images/blog/bolg4.jpg" alt="" />
							<div class="content blog0">
								<h2>GÓC CẢM HỨNG...</h2>
								<strong class="blog1">Ý Tưởng Không Gian Sống</strong>

							</div>

						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="page-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="post">
						<div class="post-thumb">
							<a href="#">
								<img class="img-responsive img1" src="images/blog/ch1.jpg" alt="">
							</a>
						</div>
						<h2 class="post-title"><a href="#">5 gợi ý thiết kế nội thất sang trọng cho căn hộ</a></h2>

						<div class="post-content">
							<p>5 gợi ý thiết kế nội thất hiện đại sang trọng cho căn hộ chung [...] </p>

						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="post">
						<div class="post-thumb">
							<a href="#">
								<img class="img-responsive img1" src="images/blog/ch2.jpg" alt="">
							</a>
						</div>
						<h2 class="post-title"><a href="#">Cách sắp xếp phòng khách để tối ưu hóa không
								gian</a></h2>

						<div class="post-content">
							<p>Đối với những phòng khách có diện tích khiêm tốn, việc bài trí các vật [...] </p>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="post">
						<div class="post-thumb">
							<a href="#">
								<img class="img-responsive img1" src="images/blog/ch3.jpg" alt="">
							</a>
						</div>
						<h2 class="post-title"><a href="#">Những lợi ích khi dùng bàn làm việc thông minh</a></h2>

						<div class="post-content">
							<p>Phòng làm việc là nơi tạo cảm giác thoải mái, vì thế, sự [...] </p>

						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="post">
						<div class="post-thumb">
							<a href="#">
								<img class="img-responsive img1" src="images/blog/ch4.webp" alt="">
							</a>
						</div>
						<h2 class="post-title"><a href="#">Kinh nghiệm chọn bàn chất lượng cho gia
								đình</a></h2>

						<div class="post-content">
							<p>Nhà là nơi để về, là nơi để các thành viên xum vầy cùng nhau [...] </p>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="post">
						<div class="post-thumb">
							<a href="#">
								<img class="img-responsive img1" src="images/blog/ch5.jpg" alt="">
							</a>
						</div>
						<h2 class="post-title"><a href="#">Tại sao nên bọc lại sofa cũ?</a></h2>

						<div class="post-content">
							<p>Ghế sofa hiện nay được sử dụng ngày càng phổ biến từ nhà ở, công [...] </p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="post">
						<div class="post-thumb">
							<a href="#">
								<img class="img-responsive img1" src="images/blog/ch6.jpg" alt="">
							</a>
						</div>
						<h2 class="post-title"><a href="#">Kinh nghiệm chọn bàn ăn chất lượng cho gia
								đình</a></h2>

						<div class="post-content">
							<p>Bạn muốn mua sofa chất lượng cho phòng khách chăng nhưng [...] </p>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="post">
						<div class="post-thumb">
							<a href="#">
								<img class="img-responsive img1" src="images/blog/ch7.jpg" alt="">
							</a>
						</div>
						<h2 class="post-title"><a href="#">Top 5 sofa được ưa chuộng nhất tại
								GreenHouse</a></h2>

						<div class="post-content">
							<p>Nâng cấp căn hộ với những bộ sofa luôn là lựa chọn hàng đầu để [...] </p>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="post">
						<div class="post-thumb">
							<a href="#">
								<img class="img-responsive img1" src="images/blog/ch8.jpg" alt="">
							</a>
						</div>
						<h2 class="post-title"><a href="#">Kinh nghiệm chọn bàn ăn chất lượng cho gia
								đình</a></h2>

						<div class="post-content">
							<p>Những bữa cơm gia đình là một điều hạnh phúc [...] </p>
						</div>
					</div>
				</div>

			</div>

		</div>
		<div class="text-center">
			<ul class="pagination post-pagination">
				<li><a href="#">Prev</a>
				</li>
				<li class="active"><a href="#">1</a>
				</li>
				<li><a href="#">2</a>
				</li>
				<li><a href="#">3</a>
				</li>
				<li><a href="#">Next</a>
				</li>
			</ul>
		</div>
	</div>
</th:block>


</html>