<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<!-- CONTENT PAGE START-->
<th:block th:fragment="content">
  <section class="signin-page account">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="block text-center">
            <a class="logo" href="/client/index">
              <img src="images/logo.png" alt="" />
            </a>
            <h2 class="text-center">TẠO TÀI KHOẢN TẠI ĐÂY</h2>
            <!-- Thêm đoạn mã sau vào form đăng ký -->
            <div th:if="${signupMessage}" class="alert alert-danger">
              <p style="color: rgb(55, 55, 55);" th:utext="${signupMessage}"></p>
            </div>

            <form id="myForm" class="text-left clearfix" th:object="${account}" th:action="@{/client/signup}"
              method="post">
              <div class="form-group">
                <input type="text" class="form-control" th:field="*{fullname}" placeholder="Fullname" />
                <small class="text-danger" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}"></small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" th:field="*{username}" placeholder="Username" />
                <small class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" th:field="*{email}" placeholder="Email" />
                <small class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" th:field="*{phone}" placeholder="Nhập số điện thoại" />
                <small class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></small>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" th:field="*{password}" placeholder="Password" />
                <small class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-main text-center"> Đăng Ký </button>
              </div>
            </form>
            <div class="social-login">

              <p>Or</p>
              <div class="social-login-buttons">
                <!-- Nút đăng nhập bằng Gmail -->

                <a href="link-to-google-authentication" class="btn btn-google"><i class='bx bxl-google'></i></i>
                  <p> Đăng ký với Google</p>
                </a>
              </div>
            </div>

            <p class="mt-20">
              Bạn đã có tài khoản ?<a href="/client/signin"> Đăng nhập</a>
            </p>
            <p><a href="/client/forgot-password"> Quên mật khẩu</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</th:block>
<!-- CONTENT PAGE END-->

</html>